.img {
  width: 461px;
  height: 248px;
  border-radius: 14px;
}
.infoBox {
  width: 400px;
  margin-top: 14px;
}
.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 8px;
}

.span {
  color: var(--accent-color);
}
.price {
  margin-right: 10px;
}
.list {
  display: flex;
  height: 40px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-wrap: wrap;
  row-gap: 4px;
}
.item {
  color: var(--bg-modal-grey);
  font-size: 12px;
  line-height: 18px;
}
.line::before {
  content: "|";
  margin: 0 4px;
  color: var(--bg-modal-grey);
}
.description {
  line-height: 20px;
  margin: 14px 0 24px;
}
.accessoriesList {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.rentalContainer {
  margin-bottom: 24px;
}
.rentalList {
  display: flex;
  flex-wrap: wrap;
}
.rentalItem {
  padding: 7px 14px;
  border-radius: 35px;
  background: #f9f9f9;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 8px;
  margin-right: 8px;
}
.rentalLink {
  color: var(--white-color);

  font-weight: 600;
  line-height: 20px;
  border-radius: 12px;
  background: var(--accent-color);

  padding: 12px 50px;
  margin-top: 24px;
  width: 168px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.rentalLink:hover,
.rentalLink:focus {
  background-color: var(--hover-blue);
  box-shadow: var(--shadow-hover);
}
.text {
  font-weight: 500;
  line-height: 20px;

  margin: 24px 0 8px;
}

.accent {
  color: var(--accent-color);
}
