.container {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 1280px;
  margin: auto;
  padding: 0 48px;
}

.list {
  display: grid;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
  column-gap: 29px;
  grid-template-columns: repeat(4, 1fr);
}
.btn {
  background-color: inherit;
  color: var(--accent-color);
  border: none;
  text-decoration: underline;

  margin: auto;
  margin: 100px 0 50px;
}
.marg {
  margin-top: 50px;
}
.nothingBox {
  background-color: rgba(212, 214, 218, 0.1);
  border-radius: 10px;
}
.nothingTitle {
  text-align: center;
  padding: 30px 0;
}
