@import-normalize;

:root {
  --primary-text-color: #121417;
  --bg-modal-grey: rgba(18, 20, 23, 0.5);
  --filter-grey: rgba(18, 20, 23, 0.2);
  --grey: rgba(18, 20, 23, 0.1);
  --title-grey: #8a8a89;
  --text-color: #363535;
  --input-color: #f7f7fb;
  --white-color: #ffffff;
  --hover-blue: #0b44cd;
  --accent-color: #3470ff;
  --shadow-hover: 7px 13px 14px rgba(116, 177, 232, 0.24);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
li {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
select {
  font: inherit;
  outline: none;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
}

body {
  font-family: "Manrope", sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 14px;
  line-height: 1.37;
  background-color: #fff;
  color: #111111;
  font-weight: 400;
}

.homeContainer {
  background-image: linear-gradient(90deg, #000, #d7e7f1);
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
